@page
@using OIDCTestWithPage
@model OIDCTestWithPage.Pages.SuccessModel

@*Please do not forget to add tag helper*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}
Success
<h2>Success Page</h2>
<p>You have been redirected here successfully!</p>